:root {
    --azul: #1D3557;
    --oceano: #457B9D;
    --menta: #A8DADC;
    --ciano: #F1FAEE;
    --averemlhado: #f3a1a8;
}

*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: var(--oceano);
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 10%;
    padding: 10px 35px;
}
.menu-item{
    display: inline-block;
    padding: 10px 35px;
    margin-top: 40px;
    font-size: 30px;
    color: var(--azul);
}
.principal{
    background-image: linear-gradient(var(--oceano), var(--ciano));
}